@model RecruitmentSelection.UI.Models.JobExperience

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar este registro?</h3>
<div>
    <h4>Experiencia de Trabajo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bussiness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bussiness)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobPosition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Department)
        </dd>
    </dl>

    <form asp-action="JobExperiencesDelete" asp-route-candidateId="@Model.CandidateID" asp-route-jobExperienceDelete="@Model.ID">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="JobExperiences">Volver a la lista</a>
    </form>

</div>
